Repository Quaver/Quaver, pull requests merged in 2018-12, with the labels that each got.

#271 Changed FpsCounter location, shouldn't be covering anything now.
  Quaver.Shared/QuaverGame.cs
Labels: enhancement

#272 Add Ranked Status Search Filter
  Quaver.Shared/Database/Maps/MapsetHelper.cs
Labels: New Feature, Song Select

#273 Remove "No Pause" Modifier
  Quaver.Shared/Modifiers/ModManager.cs
  Quaver.Shared/Modifiers/Mods/ModAutoplay.cs
  Quaver.Shared/Modifiers/Mods/ModNoPause.cs
  Quaver.Shared/Modifiers/Mods/ModPaused.cs
  Quaver.Shared/Screens/Gameplay/GameplayScreen.cs
  Quaver.Shared/Screens/Select/UI/Modifiers/ModifiersDialog.cs
Labels: Modifiers, enhancement

#279 Added OrderByDateAdded button.
  Quaver.Shared/Config/OrderMapsetsBy.cs
  Quaver.Shared/Database/Maps/Map.cs
  Quaver.Shared/Database/Maps/MapsetHelper.cs
  Quaver.Shared/Screens/Select/UI/Search/MapsetSearchContainer.cs
Labels: New Feature, Song Select

#322 Column alignment
  Quaver.Shared/Screens/Gameplay/GameplayScreenView.cs
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/Playfield/GameplayPlayfieldKeys.cs
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/Playfield/GameplayPlayfieldKeysStage.cs
  Quaver.Shared/Skinning/SkinKeys.cs
Labels: Skinning, gameplay

#321 Add quick exit back
  Quaver.Shared/Screens/Gameplay/GameplayScreen.cs
Labels: Bug Fix, gameplay

#320 Fix live scoreboard not showing correct rating for mods
  Quaver.Shared/Screens/Gameplay/GameplayScreenView.cs
  Quaver.Shared/Screens/Gameplay/UI/Scoreboard/Scoreboard.cs
  Quaver.Shared/Screens/Gameplay/UI/Scoreboard/ScoreboardUser.cs
Labels: Bug Fix, gameplay

#318 Fix judgement breakdown graph when total count is 0
  Quaver.Shared/Screens/Result/UI/ResultJudgementBreakdown.cs
Labels: Bug Fix, Results

#315 Fix failed local scores showing wrong grade
  Quaver.Shared/Screens/Result/UI/ResultMapInformation.cs
Labels: Bug Fix, Results

#316 Add config value to toggle gameplay background blur
  Quaver.Shared/Config/ConfigManager.cs
  Quaver.Shared/Screens/Gameplay/GameplayScreenView.cs
  Quaver.Shared/Screens/Settings/SettingsDialog.cs
Labels: enhancement, gameplay

#310 Fixed VolumeController overlay interfering with map selection
  Quaver.Shared/Screens/Select/SelectScreen.cs
Labels: Bug Fix, Input

#313 Fixed Map Metadata: Length
  Quaver.Shared/Screens/Select/UI/Banner/BannerMetadata.cs
Labels: Bug Fix, Song Select

#307 Added random map selection button
  Quaver.Shared/Screens/Select/SelectScreen.cs
  Quaver.Shared/Screens/Select/SelectScreenView.cs
  Quaver.Shared/Screens/Select/UI/Mapsets/MapsetScrollContainer.cs
Labels: New Feature, Song Select

#317 Add config value for offset keybinding
  Quaver.Shared/Config/ConfigManager.cs
  Quaver.Shared/Screens/Gameplay/GameplayScreen.cs
  Quaver.Shared/Screens/Settings/SettingsDialog.cs
Labels: Settings, config, enhancement

#325 Add right click to difficulty selector to go back to mapsets
  Quaver.Shared/Screens/Select/SelectScreen.cs
Labels: New Feature, Song Select

#327 Save previous search term for song select
  Quaver.Shared/Screens/Select/UI/Search/MapsetSearchContainer.cs
Labels: Song Select, enhancement

#328 Changed BgMaskPadding to StageReceptorPadding
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/Playfield/GameplayPlayfieldKeys.cs
  Quaver.Shared/Skinning/SkinKeys.cs
Labels: Skinning

#345 Add HitErrorPosX/Y, HitErrorHeight, & HitErrorChevronSize Skin.ini values
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/Playfield/GameplayPlayfieldKeysStage.cs
  Quaver.Shared/Screens/Gameplay/UI/HitErrorBar.cs
  Quaver.Shared/Skinning/SkinKeys.cs
Labels: Skinning

#332 Add non-changeable keybind for opening options from certain menu.
  Quaver.Shared/QuaverGame.cs
  Quaver.Shared/Screens/Menu/MenuScreen.cs
  Quaver.Shared/Screens/Select/SelectScreen.cs
Labels: Input, enhancement

#333 Use Better Beat-Snap Solver
  Quaver.Shared/Screens/Gameplay/Rulesets/HitObjects/HitObjectManager.cs
Labels: Bug Fix, gameplay

#348 Fix crash when activating mods
  Quaver.Shared/Screens/Gameplay/UI/SongInformation.cs
Labels: Bug Fix

#351 Fix crash when osudbpath isn't correct
  Quaver.Shared/Database/Maps/MapDatabaseCache.cs
Labels: Bug Fix

#331 Fixed ESC button resuming over chat overlay when paused
  Quaver.Shared/Screens/Gameplay/GameplayScreen.cs
  Quaver.Shared/Screens/Gameplay/UI/PauseScreen.cs
Labels: Bug Fix, gameplay

#369 Fix No Audio Gameplay Crash
  Quaver.Shared/Audio/AudioEngine.cs
  Quaver.Shared/Screens/Gameplay/GameplayAudioTiming.cs
  Quaver.Shared/Screens/Gameplay/GameplayScreen.cs
  Quaver.Shared/Screens/Gameplay/GameplayScreenView.cs
  Quaver.Shared/Screens/Gameplay/UI/SongTimeProgressBar.cs
Labels: Audio, Bug Fix, gameplay

#371 Fixed cursor visibility after returning to gameplay.
  Quaver.Shared/Screens/Gameplay/GameplayScreen.cs
  Quaver.Shared/Screens/Gameplay/UI/PauseScreen.cs
  Quaver.Shared/Screens/Result/ResultScreen.cs
Labels: Bug Fix, gameplay

#388 Fixed Now Playing output
  Quaver.Shared/Screens/Loading/MapLoadingScreen.cs
Labels: Bug Fix

#395 Added Tap To Pause option
  Quaver.Shared/Config/ConfigManager.cs
  Quaver.Shared/Screens/Gameplay/GameplayScreen.cs
  Quaver.Shared/Screens/Settings/SettingsDialog.cs
Labels: config, enhancement, gameplay

#387 Fixed HitPosOffsetY on default arrows 4K skin.
  Quaver.Shared/Skinning/SkinKeys.cs
Labels: Bug Fix, Skinning

#396 Added Reload Skin global hotkey
  Quaver.Shared/QuaverGame.cs
  Quaver.Shared/Screens/Settings/Elements/SettingsCustomSkin.cs
  Quaver.Shared/Screens/Settings/SettingsDialog.cs
  Quaver.Shared/Skinning/SkinManager.cs
Labels: New Feature, Skinning

#423 Fix CustomFpsLimit parsing
  Quaver.Shared/Config/ConfigManager.cs
Labels: Bug Fix, config

#427 Implement in-game downloading
  Quaver.Shared/Database/Maps/MapDatabaseCache.cs
  Quaver.Shared/Helpers/ImageDownloader.cs
  Quaver.Shared/Quaver.Server.Client.dll
  Quaver.Shared/Screens/Download/DownloadScreen.cs
  Quaver.Shared/Screens/Download/DownloadScreenView.cs
  Quaver.Shared/Screens/Download/MapsetDownload.cs
  Quaver.Shared/Screens/Download/MapsetDownloadManager.cs
  Quaver.Shared/Screens/Download/UI/DownloadSearchBox.cs
  Quaver.Shared/Screens/Download/UI/Drawable/CurrentlySearchingInterface.cs
  Quaver.Shared/Screens/Download/UI/Drawable/DownloadScrollContainer.cs
  Quaver.Shared/Screens/Download/UI/Drawable/DownloadableMapset.cs
  Quaver.Shared/Screens/Download/UI/Filter/DownloadSearchFilters.cs
  Quaver.Shared/Screens/Download/UI/Filter/QuaverHorizontalSelector.cs
  Quaver.Shared/Screens/Download/UI/Filter/RadioFilter.cs
  Quaver.Shared/Screens/Download/UI/Status/DownloadStatus.cs
  Quaver.Shared/Screens/Menu/MenuScreenView.cs
  Quaver.Shared/Screens/Menu/UI/Navigation/NavbarItemUser.cs
  Quaver.Shared/Screens/Menu/UI/Navigation/NavbarMain.cs
  Quaver.Shared/Screens/Menu/UI/Navigation/User/UserProfileContainer.cs
  Quaver.Shared/Screens/QuaverScreenType.cs
  Quaver.Shared/Screens/Select/SelectScreenView.cs
Labels: New Feature, Online

#433 Fix duplicate nav item when in download screen
  Quaver.Shared/Screens/Download/DownloadScreenView.cs
  Quaver.Shared/Screens/Menu/MenuScreenView.cs
  Quaver.Shared/Screens/Menu/UI/Navigation/NavbarMain.cs
  Quaver.Shared/Screens/Select/SelectScreenView.cs
Labels: Bug Fix

#436 Fix replays
  Quaver.Shared/Screens/Gameplay/Replays/ReplayCapturer.cs
  Quaver.Shared/Screens/Gameplay/Rulesets/Input/ReplayInputManagerKeys.cs
Labels: Bug Fix, Replays

#437 Fix global offset being opposite
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/HitObjects/HitObjectManagerKeys.cs
Labels: Audio, Bug Fix
