Repository Quaver/Quaver, pull requests merged in 2019-01, with the labels that each got.

#439 Fix jukebox
  Quaver.Shared/Screens/Menu/UI/Jukebox/Jukebox.cs
Labels: Bug Fix

#441 Fix color when hovering over settings options
  Quaver.Shared/Screens/Settings/Elements/SettingsItem.cs
Labels: Bug Fix

#429 Added "Display Failed Scores" option.
  Quaver.Shared/Config/ConfigManager.cs
  Quaver.Shared/Database/Scores/ScoreDatabaseCache.cs
  Quaver.Shared/Screens/Select/SelectScreen.cs
  Quaver.Shared/Screens/Settings/SettingsDialog.cs
Labels: New Feature, Song Select, config

#428 Fixed searchbox raw text not reinitializing after gameplay.
  Quaver.Shared/Screens/Select/UI/Search/MapsetSearchContainer.cs
Labels: Bug Fix, Requires Wobble

#350 Fix lighting HitPosY not being loaded in SkinKeys
  Quaver.Shared/Skinning/SkinKeys.cs
Labels: Bug Fix

#444 Don't allow user to press enter w/ no search results
  Quaver.Shared/Screens/Select/SelectScreen.cs
Labels: Bug Fix

#445 Fix crashes when searching
  Quaver.Shared/Screens/Importing/ImportingScreen.cs
  Quaver.Shared/Screens/Select/UI/Mapsets/MapsetScrollContainer.cs
Labels: Bug Fix

#446 Fix queued skin being null when switching multiple times
  Quaver.Shared/Screens/Settings/SettingsDialog.cs
  Quaver.Shared/Skinning/SkinManager.cs
Labels: Bug Fix

#447 Fix master volume not affecting SFX volume
  Quaver.Shared/QuaverGame.cs
Labels: Audio, Bug Fix

#448 Fix multiple instances of audio tracks
  Quaver.Shared/Screens/Menu/UI/Jukebox/Jukebox.cs
Labels: Audio, Bug Fix

#449 Hitlighting Fixes
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/Playfield/GameplayPlayfieldKeysStage.cs
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/Playfield/HitLighting.cs
  Quaver.Shared/Skinning/SkinKeys.cs
Labels: Skinning, enhancement

#452 Skin Archive Files
  Quaver.Shared/Database/Maps/MapsetImporter.cs
  Quaver.Shared/Screens/Settings/Elements/SettingsExportSkin.cs
  Quaver.Shared/Screens/Settings/SettingsDialog.cs
  Quaver.Shared/Skinning/SkinManager.cs
Labels: New Feature, Skinning

#460 Prevent users from spamming exiting results screen
  Quaver.Shared/Screens/Result/ResultScreen.cs
Labels: Bug Fix, Results

#461 Increase scroll container speed in select screen
  Quaver.Shared/Screens/Select/UI/Maps/DifficultyScrollContainer.cs
  Quaver.Shared/Screens/Select/UI/Mapsets/MapsetScrollContainer.cs
Labels: Song Select, enhancement

#470 Ok/Close -> Apply/Cancel
  Quaver.Shared/Screens/Settings/SettingsDialog.cs
Labels: Settings, enhancement

#475 Rename DownloadStatus to MapsetInformation
  Quaver.Shared/Screens/Download/DownloadScreenView.cs
  Quaver.Shared/Screens/Download/UI/Status/MapsetInformation.cs
Labels: Download

#478 Fix usergroup chat badges and colors
  Quaver.Shared/Graphics/Colors.cs
  Quaver.Shared/Graphics/Overlays/Chat/Components/Messages/Drawable/ChatBadge.cs
Labels: chat

#479 Add ESC keybind to exit in-game download screen.
  Quaver.Shared/Screens/Download/DownloadScreen.cs
Labels: Input

#467 Split Scroll Direction
  Quaver.Shared/Config/ConfigManager.cs
  Quaver.Shared/Config/ScrollDirection.cs
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/GameplayRulesetKeys.cs
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/HitObjects/GameplayHitObjectKeys.cs
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/HitObjects/HitObjectManagerKeys.cs
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/Playfield/GameplayPlayfieldKeys.cs
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/Playfield/GameplayPlayfieldKeysStage.cs
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/Playfield/Lines/TimingLine.cs
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/Playfield/Lines/TimingLineManager.cs
  Quaver.Shared/Screens/Settings/Elements/SettingsScrollDirection.cs
  Quaver.Shared/Screens/Settings/SettingsDialog.cs
Labels: New Feature, enhancement

#493 Show an icon for ranked modifiers
  Quaver.Shared/Modifiers/IGameplayModifier.cs
  Quaver.Shared/Modifiers/Mods/ModAutoplay.cs
  Quaver.Shared/Modifiers/Mods/ModChill.cs
  Quaver.Shared/Modifiers/Mods/ModNoFail.cs
  Quaver.Shared/Modifiers/Mods/ModNoLongNotes.cs
  Quaver.Shared/Modifiers/Mods/ModNoSliderVelocities.cs
  Quaver.Shared/Modifiers/Mods/ModPaused.cs
  Quaver.Shared/Modifiers/Mods/ModRandomize.cs
  Quaver.Shared/Modifiers/Mods/ModSpeed.cs
  Quaver.Shared/Modifiers/Mods/ModStrict.cs
  Quaver.Shared/Screens/Select/UI/Modifiers/DrawableModifier.cs
Labels: Modifiers, enhancement

#499 Editor Screen
  Quaver.Shared/Assets/FontsBitmap.cs
  Quaver.Shared/Audio/AudioEngine.cs
  Quaver.Shared/Config/ConfigManager.cs
  Quaver.Shared/Content/muli-bold.xnb
  Quaver.Shared/Content/muli-bold_0.xnb
  Quaver.Shared/Content/muli.xnb
  Quaver.Shared/Content/muli_0.xnb
  Quaver.Shared/Quaver.Shared.csproj
  Quaver.Shared/QuaverGame.cs
  Quaver.Shared/Screens/Editor/EditorScreen.cs
  Quaver.Shared/Screens/Editor/EditorScreenView.cs
  Quaver.Shared/Screens/Editor/UI/EditorControlBar.cs
  Quaver.Shared/Screens/Editor/UI/EditorControlButton.cs
  Quaver.Shared/Screens/Editor/UI/Rulesets/EditorRuleset.cs
  Quaver.Shared/Screens/Editor/UI/Rulesets/Keys/Components/TimelineZoomer.cs
  Quaver.Shared/Screens/Editor/UI/Rulesets/Keys/EditorRulesetKeys.cs
  Quaver.Shared/Screens/Editor/UI/Rulesets/Keys/Scrolling/EditorScrollContainerKeys.cs
  Quaver.Shared/Screens/Editor/UI/Rulesets/Keys/Scrolling/HitObjects/DrawableEditorHitObject.cs
  Quaver.Shared/Screens/Editor/UI/Rulesets/Keys/Scrolling/HitObjects/DrawableEditorHitObjectLong.cs
  Quaver.Shared/Screens/Editor/UI/Rulesets/Keys/Scrolling/Timeline/EditorTimelineKeys.cs
  Quaver.Shared/Screens/Editor/UI/Rulesets/Keys/Scrolling/Timeline/TimelineTickLine.cs
  Quaver.Shared/Screens/Menu/MenuScreenView.cs
  Quaver.Shared/Screens/Menu/UI/Jukebox/Jukebox.cs
  Quaver.Shared/Screens/QuaverScreenType.cs
  Quaver.Shared/Screens/Select/SelectScreen.cs
  Quaver.Shared/Screens/Select/SelectScreenView.cs
  Quaver.Shared/Screens/Settings/SettingsDialog.cs
Labels: Editor, New Feature

#503 Fix upscroll when using different resolutions in the editor
  Quaver.Shared/Screens/Editor/UI/Rulesets/Keys/Scrolling/EditorScrollContainerKeys.cs
Labels: Bug Fix, Editor

#504 Add ability to change beat snap with shift + scroll/arrow keys
  Quaver.Shared/Screens/Editor/EditorScreen.cs
  Quaver.Shared/Screens/Editor/UI/EditorControlBar.cs
Labels: Editor, enhancement

#492 Show progress when importing maps
  Quaver.Shared/Database/Maps/ImportingMapsetEventArgs.cs
  Quaver.Shared/Database/Maps/MapsetImporter.cs
  Quaver.Shared/Screens/Importing/ImportingScreen.cs
  Quaver.Shared/Screens/Importing/ImportingScreenView.cs
Labels: Import, enhancement

#506 Fix Time Progress Text bug
  Quaver.Shared/Screens/Gameplay/GameplayScreenView.cs
  Quaver.Shared/Screens/Gameplay/UI/SongTimeProgressBar.cs
Labels: Bug Fix, gameplay

#477 HitObject Position Fixes
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/GameplayRulesetKeys.cs
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/HitObjects/GameplayHitObjectKeys.cs
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/Playfield/GameplayPlayfieldKeys.cs
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/Playfield/GameplayPlayfieldKeysStage.cs
Labels: Bug Fix, Skinning
