Repository Quaver/Quaver, pull requests merged in 2019-03, with the labels that each got.

#674 Fix a few things related to online + update libs
  Quaver.Shared/Graphics/Overlays/Chat/Components/Users/DrawableOnlineUser.cs
  Quaver.Shared/Graphics/Overlays/Chat/Components/Users/OnlineUserList.cs
  Quaver.Shared/Online/OnlineManager.cs
  Quaver.Shared/Quaver.Server.Client.dll
  Quaver.Shared/Quaver.Server.Common.dll
Labels: Online

#676 Add difficulty calculation for maps loaded from osu!'s db.
  Quaver.Shared/Database/Maps/MapDatabaseCache.cs
  Quaver.Shared/Database/Maps/OtherGameCacheAction.cs
  Quaver.Shared/Database/Maps/OtherGameMap.cs
  Quaver.Shared/Database/Maps/OtherGameMapDatabaseCache.cs
  Quaver.Shared/Graphics/Notifications/Notification.cs
  Quaver.Shared/Screens/QuaverScreenManager.cs
  Quaver.Shared/Screens/Select/SelectScreen.cs
Labels: New Feature

#677 Fix ColumnAlignment not being used
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/Playfield/GameplayPlayfieldKeys.cs
Labels: Bug Fix, Skinning

#678 Don't allow song select scrolling when changing volume
  Quaver.Shared/Screens/Select/UI/Maps/DifficultyScrollContainer.cs
  Quaver.Shared/Screens/Select/UI/Mapsets/MapsetScrollContainer.cs
Labels: Bug Fix, Song Select

#679 Remember activated mods when autoplay is enabled
  Quaver.Shared/Screens/Result/ResultScreen.cs
Labels: Bug Fix, Modifiers

#681 Gradually increase number displays + Skinnable Sizes
  Quaver.Shared/Graphics/NumberDisplay.cs
  Quaver.Shared/Screens/Gameplay/GameplayScreenView.cs
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/Playfield/GameplayPlayfieldKeysStage.cs
  Quaver.Shared/Screens/Gameplay/UI/KeysPerSecond.cs
  Quaver.Shared/Screens/Gameplay/UI/SongTimeProgressBar.cs
  Quaver.Shared/Skinning/SkinKeys.cs
Labels: New Feature, Skinning

#654 Concatenate duplicate configuration keys
  Quaver.Shared/Config/ConfigManager.cs
  Quaver.Shared/Skinning/SkinStore.cs
Labels: Bug Fix, config

#651 Slow down drag-scroll & fix exception when seeking not in song boundary
  Quaver.Shared/Screens/Editor/UI/Rulesets/Keys/Components/EditorRectangleSelectionKeys.cs
Labels: Bug Fix, Editor, enhancement

#683 Don't allow 0 scroll speed
  Quaver.Shared/Config/ConfigManager.cs
Labels: Bug Fix

#689 Fix crash while test playing
  Quaver.Shared/Screens/Gameplay/GameplayScreenView.cs
Labels: Bug Fix, Editor

#686 Add CTRL+U to upload in the editor
  Quaver.Shared/Screens/Editor/EditorScreen.cs
Labels: Editor

#688 Fix crash when checking if map sync is needed
  Quaver.Shared/Database/Maps/OtherGameMapDatabaseCache.cs
Labels: Bug Fix

#690 Modifier Leaderboards
  Quaver.Shared/Quaver.Server.Client.dll
  Quaver.Shared/Screens/Select/SelectScreen.cs
  Quaver.Shared/Screens/Select/SelectScreenView.cs
  Quaver.Shared/Screens/Select/UI/Leaderboard/LeaderboardContainer.cs
  Quaver.Shared/Screens/Select/UI/Leaderboard/LeaderboardScoreSectionGlobal.cs
  Quaver.Shared/Screens/Select/UI/Leaderboard/LeaderboardScoreSectionMods.cs
  Quaver.Shared/Screens/Select/UI/Leaderboard/LeaderboardType.cs
Labels: New Feature, Song Select

#685 Add keybind to pause while play testing
  Quaver.Shared/Screens/Gameplay/GameplayScreen.cs
Labels: Editor, Input

#692 Don't automatically play track when seeking in the editor
  Quaver.Shared/Screens/Editor/UI/EditorControlBar.cs
  Quaver.Shared/Screens/Editor/UI/Graphing/EditorVisualizationGraphContainer.cs
Labels: Bug Fix, Editor

#684 Limit fps when window isn't focused
  Quaver.Shared/Database/Maps/OtherGameMapDatabaseCache.cs
  Quaver.Shared/QuaverGame.cs
Labels: enhancement

#699 Fix objects not resizing when toggling editor view layers.
  Quaver.Shared/Screens/Editor/UI/Rulesets/Keys/Scrolling/EditorScrollContainerKeys.cs
  Quaver.Shared/Screens/Editor/UI/Rulesets/Keys/Scrolling/HitObjects/DrawableEditorHitObject.cs
  Quaver.Shared/Screens/Editor/UI/Rulesets/Keys/Scrolling/HitObjects/DrawableEditorHitObjectLong.cs
Labels: Bug Fix, Editor
