Repository Quaver/Quaver, pull requests merged in 2019-02, with the labels that each got.

#523 Add TimingLineColor to skin.ini
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/Playfield/Lines/TimingLine.cs
  Quaver.Shared/Skinning/SkinKeys.cs
Labels: New Feature, Skinning

#537 Add config option to anchor objects to timing line midpoint
  Quaver.Shared/Config/ConfigManager.cs
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/HitObjects/GameplayHitObjectKeys.cs
  Quaver.Shared/Screens/Settings/SettingsDialog.cs
Labels: config, gameplay

#543 hit graph: always draw border and early/late text
  Quaver.Shared/Screens/Result/UI/ResultHitDifferenceGraph.cs
Labels: enhancement

#552 Add setting to skip results screen after quitting
  Quaver.Shared/Config/ConfigManager.cs
  Quaver.Shared/Screens/Gameplay/GameplayScreenView.cs
  Quaver.Shared/Screens/Select/SelectScreen.cs
  Quaver.Shared/Screens/Settings/SettingsDialog.cs
Labels: Settings, config, gameplay

#553 Judgement Counter Customizability
  Quaver.Shared/Config/ConfigManager.cs
  Quaver.Shared/Screens/Gameplay/GameplayScreenView.cs
  Quaver.Shared/Screens/Gameplay/UI/Counter/JudgementCounter.cs
  Quaver.Shared/Screens/Gameplay/UI/Counter/JudgementCounterItem.cs
  Quaver.Shared/Screens/Settings/SettingsDialog.cs
  Quaver.Shared/Skinning/SkinKeys.cs
  Quaver.Shared/Skinning/SkinStore.cs
Labels: New Feature, Skinning

#554 Song Time Progress Color Skinning & Toggle Number Display
  Quaver.Shared/Config/ConfigManager.cs
  Quaver.Shared/Screens/Gameplay/GameplayScreenView.cs
  Quaver.Shared/Screens/Gameplay/UI/SongTimeProgressBar.cs
  Quaver.Shared/Screens/Settings/SettingsDialog.cs
  Quaver.Shared/Skinning/SkinKeys.cs
Labels: New Feature, Skinning, config

#560 Add DrawLongNoteEnd + a couple of fixes of positioning of stuff
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/HitObjects/GameplayHitObjectKeys.cs
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/HitObjects/HitObjectManagerKeys.cs
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/Playfield/GameplayPlayfieldKeys.cs
  Quaver.Shared/Skinning/SkinKeys.cs
Labels: Bug Fix, Skinning, gameplay

#564 Update Initial Gameplay Progres Bar Text
  Quaver.Shared/Screens/Gameplay/UI/SongTimeProgressBar.cs
Labels: Bug Fix, gameplay

#563 Fix Multiple BGM bug
  Quaver.Shared/Audio/AudioEngine.cs
Labels: Audio, Bug Fix

#556 Add Config Values for Navigation Keybinds
  Quaver.Shared/Config/ConfigManager.cs
Labels: Input, New Feature, Settings

#570 Use new Qua when test playing in the editor
  Quaver.Shared/Screens/Gameplay/GameplayScreen.cs
  Quaver.Shared/Screens/Gameplay/GameplayScreenView.cs
Labels: Bug Fix, enhancement

#574 Add buttons to adjust timing point offset
  Quaver.Shared/Screens/Editor/UI/Dialogs/Timing/EditorTimingChanger.cs
Labels: Editor, enhancement

#577 Timing Point & SV Dialog Fixes
  Quaver.Shared/Screens/Editor/EditorScreen.cs
  Quaver.Shared/Screens/Editor/UI/Dialogs/GoTo/EditorGoToObjectsPanel.cs
  Quaver.Shared/Screens/Editor/UI/Dialogs/SV/EditorScrollVelocityChanger.cs
  Quaver.Shared/Screens/Editor/UI/Dialogs/SV/EditorScrollVelocityDialog.cs
  Quaver.Shared/Screens/Editor/UI/Dialogs/Timing/EditorBpmCalculator.cs
  Quaver.Shared/Screens/Editor/UI/Dialogs/Timing/EditorTimingChanger.cs
Labels: Bug Fix, Editor

#579 Fix editor timeline sometimes disappearing
  Quaver.Shared/Screens/Editor/UI/Rulesets/Keys/Scrolling/EditorScrollContainerKeys.cs
Labels: Bug Fix, Editor

#580 Make various editor notifications a bit better
  Quaver.Shared/Screens/Editor/UI/Rulesets/Keys/EditorRulesetKeys.cs
Labels: Editor, enhancement

#581 Add editor guide wiki link to menu bar
  Quaver.Shared/Screens/Editor/UI/EditorMenuBar.cs
Labels: Editor, enhancement

#606 Default DrawLongNoteEnd to true
  Quaver.Shared/Skinning/SkinKeys.cs
Labels: Skinning

#607 Fix and improve search
  Quaver.Shared/Database/Maps/MapsetHelper.cs
Labels: Song Select, enhancement

#647 Don't play metronome before first timing point
  Quaver.Shared/Screens/Editor/Timing/Metronome.cs
Labels: Bug Fix, Editor

#648 Add keybind to go back to editor @ last playtime after testing & change autoplay keybind
  Quaver.Shared/Screens/Gameplay/GameplayScreen.cs
  Quaver.Shared/Screens/Gameplay/GameplayScreenView.cs
Labels: Editor, enhancement

#649 Add config option for selected editor visualization graph
  Quaver.Shared/Config/ConfigManager.cs
  Quaver.Shared/Screens/Editor/UI/EditorMenuBar.cs
  Quaver.Shared/Screens/Editor/UI/Rulesets/Keys/Components/EditorRectangleSelectionKeys.cs
  Quaver.Shared/Screens/Editor/UI/Rulesets/Keys/EditorRulesetKeys.cs
Labels: Editor, config

#650 Escape illegal filename characters when creating new mapset
  Quaver.Shared/Screens/Editor/EditorScreen.cs
Labels: Bug Fix, Editor

#652 Fix memory leak when spamming play test button
  Quaver.Shared/Screens/Editor/EditorScreen.cs
Labels: Bug Fix, Editor

#665 Fix hit error skin.ini values not being in use
  Quaver.Shared/Screens/Gameplay/Rulesets/Keys/Playfield/GameplayPlayfieldKeysStage.cs
Labels: Bug Fix, Skinning
